<?xml version="1.0" encoding="utf-8" standalone="no"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">
    <servlet>
        <servlet-name>users</servlet-name>
        <servlet-class>com.servlets.UsersListServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>users</servlet-name>
        <url-pattern>/users</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>home work</servlet-name>
        <servlet-class>com.servlets.HTMLServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>home work</servlet-name>
        <url-pattern>/user/home-task</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>loginForm</servlet-name>
        <servlet-class>com.servlets.LoginServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>loginForm</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>createUserServlet</servlet-name>
        <servlet-class>com.servlets.CreateUserServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>createUserServlet</servlet-name>
        <url-pattern>/users/create</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>editUserServlet</servlet-name>
        <servlet-class>com.servlets.EditUserServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>editUserServlet</servlet-name>
        <url-pattern>/users/edit</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>countServlet</servlet-name>
        <servlet-class>com.servlets.CountServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>countServlet</servlet-name>
        <url-pattern>/count</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>countToTenServlet</servlet-name>
        <servlet-class>com.servlets.CountToTenServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>countToTenServlet</servlet-name>
        <url-pattern>/count/to</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>userNotAuthorizedServlet</servlet-name>
        <servlet-class>com.servlets.UserNotAuthorizedServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>userNotAuthorizedServlet</servlet-name>
        <url-pattern>/not/authorized</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>UserFilter</filter-name>
        <filter-class>com.servlets.UserFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>UserFilter</filter-name>
        <url-pattern>/users/*</url-pattern>
    </filter-mapping>
</web-app>

