<?xml version="1.0" encoding="utf-8" standalone="no"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">
    <servlet>
        <servlet-name>users</servlet-name>
        <servlet-class>com.servlets.UsersListServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>users</servlet-name>
        <url-pattern>/users</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>home work</servlet-name>
        <servlet-class>com.servlets.HTMLServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>home work</servlet-name>
        <url-pattern>/user/home-task</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>loginForm</servlet-name>
        <servlet-class>com.servlets.LoginServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>loginForm</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
</web-app>

